body {
    text-align: center;
    padding: 50px;
}


body {
    font-size: 16px;
    background-color: white;
}


@media only screen and (max-width: 500px) {
    body {
        background-color: powderblue;
        font-size: 14px;
    }
}


@media only screen and (min-width: 500px) and (max-width: 800px) {
    body {
        background-color: lightcoral;
        font-size: 18px;
    }
}


@media only screen and (min-width: 800px) {
    body {
        background-color: lightgreen;
        font-size: 22px;
    }
}